.example-card {
    max-width: 50%;
  }
  
  .example-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/16/00/29/add-person-2646097_960_720.png');
    background-size: cover;
  }